.explor-restau{
    background-color: $thirdgray;
}
.lieu{
    background-color: $firstgray;
    text-align: center;
    color: $black;
    height: 56px;
    padding-top: 16px;
    padding-right: 27px;
    @include mobile {
        height: 40px;
        padding-top: 8px;
        padding-right: 25px;
        }
    }
.fa-map-marker-alt{
    margin-right: 0.5%;    
    @include mobile{
        margin-right: 2%;    
    }
}
.explor{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondgray;
}
.explor__reserv{
    font-weight: bold;
    /*font-size: ;*/
    @include mobile {
         font-size: 1.32em;
         width: 56%;
         text-align: center;
    }
}
.explor__discov{
    @include mobile{
        width: 77%;
        text-align: center;
    }
}
.explor__btn{
    background: linear-gradient(to right bottom, #e470da, #ac5edb);
    text-align: center;
    width: 199px;
        margin: 10px 0px 37px 0px;
        padding: 16px;
        border-radius: 27px;
    a{
        text-decoration: none;
        color:whitesmoke;
    }
}

.fonctionmt{
    @include mobile{
        display: flex;
        flex-direction: column;
        margin: 30px 0px 35px 0px;
        h2{
            align-self: flex-start;
            margin-left: 5%;
            margin-bottom: 6%;        
        }
    }
}
.fonctionmt__all{
    /*background-color: $secondgray;
    width: 76%;
    padding: 4% 4% 4% 0%;
    margin-left: 67px;
    margin-bottom: 8%;
    border-radius: 21px;
    font-size: 1.6em;
    font-weight: bold;
    display: flex;
    position: relative;
    box-shadow: 0px 4px 17px grey;
        .icon{
            width: 9px;
            height: 15px;
            padding: 5px 15px 16px 11px;
            margin: 0px;
            border-radius: 30px;
            background-color: #9356DC;
            position: absolute;
            left: -10px;
            top: 44px;
            color: whitesmoke;
            font-size: 0.89em;
        }*/
    @include mobile{
        background-color:$secondgray;
        padding: 23px 23px 23px 0px;
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 23px;
        font-size: 0.99em;
        font-weight: bold;
        display: flex;
        border-radius: 19px;
        box-shadow: 0px 4px 17px grey;
        position: relative;
        .icon{
            width: 9px;
            height: 15px;
            padding: 4px 7px 6px 8px;
            margin: 0px;
            border-radius: 30px;
            background-color: #9356DC;
            position: absolute;
            left: -10px;
            top: 18px;
            color: whitesmoke;
            font-size: 0.89em;
        }
    }
}
.fa-mobile-alt{
    padding: 0% 8%;
    margin-left: 7%;
    color: #838080a6;
}
.fa-list-ul{
    padding: 0% 12%;
    margin-left: 27px;
    color: #838080a6;
    @include mobile{
        padding: 0% 6%;
        margin-left: 27px;
    }
    
}
.fa-store{
    padding: 0% 12%;
    margin-left: 27px;
    color: #838080a6;
    @include mobile{
        padding: 0% 6%;
        margin-left: 27px;
    }
}


.restau{
    background-color: $thirdgray;
    height: auto;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        padding-left: 17px;
        font-size: 2.5em;
    }
    @include mobile{
        align-items: flex-start;
        height: 1513px;
        padding-top: 24px;
        h2{
            padding-left: 17px;
            font-size: 1.5em;
        }
    }
    
}

.restau__img{
    position: relative;
    width: 100%;
    height: 70%;
    overflow: hidden;
    border-radius: 15px 15px 0px 0px;
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .ban-new{
        position: absolute;
        font-weight: bold;
        padding: 2% 4% 2% 4%;
        bottom: 68%;
        left: 78%;
        border-radius: 3px;
        background-color: $Thirdcolor;
        color: #0f730fed;
    }
    @include mobile{
        width: 100%;
        height: 222px;
        overflow: hidden;
        border-radius: 15px 15px 0px 0px;
        .ban-new{
            position: absolute;
            padding: 2% 4% 2% 4%;
            bottom: 79%;
            left: 69%;
            
        }  
    }
}
.restau-lapal__img{
    @include imgaccueil;

}
.restau-lanot__img{
    @include imgaccueil;
}
.restau-alafr__img{
    @include imgaccueil;
}
.restau-ledel__img{
    @include imgaccueil;
  
}

.restau-all{
    /*margin-left: 3.5%;
    margin-right: 3.5%;
    margin-bottom: 30px;
    box-shadow: 0px 9px 9px grey;
    border-radius: 0px 0px 15px 15px;
    width: 77%;
    height: 453px;
    overflow: hidden;*/
    figure{
        margin: auto;
    }
    a{
        text-decoration: none;  
    }
    @include mobile{
        border-radius: 0px 0px 15px 15px;
        overflow: hidden;
        margin-left: 1.1em;
        margin-right: 1.1em;
        margin-bottom: 2em;
        box-shadow: 0px 4px 17px grey;
        figure{
        margin: auto;
        }
    }
}

.restau__info{
    /*background-color: white;
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    height: 141px;
    position: relative;*/
    /*img{
        width: 5%;
        position: absolute;
        left: 87%;
        bottom: 56%;
    }
    p{  
        margin-bottom: 2px;
        margin-left: 15px;
        color: black;
        font-size: 1.87em;
    }*/
    @include mobile{
        background-color: white;
        margin-top: 0px;
        height: 88px;
        border-radius: 0px 0px 15px 15px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        img{
            width: 26px;
            align-self: flex-end;
        }
        p{
            margin-bottom: 0px;
            margin-left: 15px;
            color: black;
            font-size: 1em;
        }
    }
}

.restau-all__info1{
    margin-top: 12px;
    margin-right: 1em;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.restau-all__info2{
    margin-top: 0px;
}

