.explor-restau{
    background-color: $thirdgray;
}
.lieu{
    @include mobile {
        background-color: $firstgray;
        text-align: center;
        height: 40px;
        padding-top: 8px;
        padding-right: 25px;
        color: $black;
        }
    }
.fa-map-marker-alt{
    margin-right: 2%;    
}
.explor{
    @include mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.explor__reserv{
    font-weight: bold;
    /*font-size: ;*/
    @include mobile {
         font-size: 1.32em;
         width: 56%;
         text-align: center;
    }
}
.explor__discov{
    @include mobile{
        width: 77%;
        text-align: center;
    }
}
.explor__btn{
    @include mobile{
        background-color: #b06ab3;
        text-align: center;
        width: 199px;
        margin: 10px 0px 37px 0px;
        padding: 16px;
        border-radius: 27px;
        a{
            text-decoration: none;
            color:whitesmoke;
        }
    }
}

.fonctionmt{
    @include mobile{
        display: flex;
        flex-direction: column;
        margin: 30px 0px 35px 0px;
        h2{
            align-self: flex-start;
            margin-left: 5%;
            margin-bottom: 6%;        }
    }
}
.fonctionmt__all{
    background-color: $secondgray;
    @include mobile{
        width: 77%;
        padding: 6% 6% 6% 0%;
        margin-left: 26px;
        margin-bottom: 8%;
        border-radius: 21px;
        font-size: 0.99em;
        font-weight: bold;
        display: flex;
        position: relative;
        box-shadow: 0px 4px 17px grey;
        .icon{
            width: 9px;
            height: 15px;
            padding: 4px 7px 6px 8px;
            margin: 0px;
            border-radius: 30px;
            background-color: #9356DC;
            position: absolute;
            left: -10px;
            top: 21px;
            color: whitesmoke;
            font-size: 0.89em;
        }
    };
}
.fa-mobile-alt{
    padding: 0% 8%;
    margin-left: 7%;
    color: #838080a6;
}
.fa-list-ul{
    padding: 0% 6%;
    margin-left: 27px;
    color: #838080a6;
}
.fa-store{
    padding: 0% 6%;
    margin-left: 27px;
    color: #838080a6;
}


.restau{
    background-color: $thirdgray;
    @include mobile{
        height: 1513px;
        padding-top: 24px;
        h2{
            padding-left: 17px;
            font-size: 1.5em;
            }
    }
    
}
.restau-lapal__img{
    @include mobile {
        width: 90%;
    }
}
.restau__img{
    @include mobile{
        width: 100%;
        height: 222px;
        overflow: hidden;
        border-radius: 15px 15px 0px 0px;  
    }
}
.restau-lapal__img{
    @include imgaccueil;
}
.restau-lanot__img{
    @include imgaccueil;
}
.restau-alafr__img{
    @include imgaccueil;
}
.restau-ledel__img{
    @include imgaccueil;
  
}

.restau-all{
    @include mobile{
        margin-left: 3.5%;
        margin-right: 3.5%;
        margin-bottom: 30px;
        box-shadow: 0px 9px 9px grey;
        border-radius: 0px 0px 15px 15px;
        width: 93%;
        height: 311px;
        overflow: hidden;
        figure{
        margin: auto;
        }
    }
}

.restau__info{
    @include mobile{
        background-color: white;
        margin-top: 0%;
        display: flex;
        flex-direction: column;
        height: 91px;
        position: relative;
        p{
            margin-bottom: 1px;
            margin-left: 15px;
        }
    }
}
.fa-heart{
    position: absolute;
    right: 41px;
    top: 13px;
}
.restau-lapal__info1{
    margin-top: 21px;
    font-weight: bold;
}
.restau-lapal__info2{
    margin-top: 2px;
}
.restau-lanot__info1{
    margin-top: 21px;
    font-weight: bold;

}
.restau-lanot__info2{
    margin-top: 2px;
}
.restau-alafr__info1{
    margin-top: 21px;
    font-weight: bold;
}
.restau-alafr__info2{
    margin-top: 2px;
}
.restau-ledel__info1{
    margin-top: 21px;
    font-weight: bold;
}
.restau-ledel__info2{
    margin-top: 2px;
}
