header{
    overflow: hidden;
    img{
        @include mobile {
            width: 49%;
            padding-left: 23%;
        }
    }
    
}
header{
    figure{
        @include mobile{
            margin-bottom: 9px;
        }
    }
}