header{
    position: relative;
    figure{
    }
    a{
        position: absolute;
        top: 41%;
        left: 5%;
        text-decoration: none;
    }
    .fa-arrow-left{
        color:$black; 
        width: 10px;
        display: block;
    }
    @include mobile{
        position: relative;
        figure{

        }
        a{
            position: absolute;
            top: 41%;
            left: 5%;
            text-decoration: none;
        }
        .fa-arrow-left{
            color:$black; 
            width: 10px;
            display: block;
        }
    }
    
}
.img-lapal{
    height: 490px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    figure {
        margin: 0 10px 0 10px;
        height: 100%;
    }
    @include tablet{
        figure{
            margin: 0;
        }
    }
    @include mobile{
        margin: 0;
        width: 100%;
        object-fit: cover;
        height: 300px;
        figure {
            margin: 0;
        }
    @include imgaccueil;
    }
        
}

.menu-lapal__titre{
    display: flex;
    justify-content: space-between;
    @include mobile{
        display: flex;
        justify-content: space-between;
    }   
}
.heartpg{
    position: relative;
    .fa-heartopenpg{
        margin: 61px 61px 30px 30px;
        height: 0;
        width: auto;
        font-size: 40px;
        @include tablet{
            margin: 53px 61px 30px 30px;
        }
        @include mobile{
            margin: 43px 32px 11px 10px;
            font-size: 22px;
        }
    }
    .fa-heartclosepg{
        position: absolute;
        left: 42px;
        top: 74px;
        background: linear-gradient(to right, #e470da, #ac5edb);
        color: transparent;
        -webkit-background-clip: text;
        opacity: 0;
        font-size: 13px;
        padding: 1px;
        cursor: pointer;
        &:hover{
            opacity: 1;
            transform: scale(3.35);
            transition-property: transform;
            transition-duration: 1s;
            transition-timing-function: ease-out;
        }
        @include tablet{
            left: 44px;
            top: 70px;
            opacity: 0;
            font-size: 9.9px;
            &:hover{
                opacity: 1;
                transform: scale(4.4);
                transition-property: transform;
                transition-duration: 1s;
                transition-timing-function: ease-out;
            }  
        }
        @include mobile{
            position: absolute;
            left: 14px;
            top: 49px;
            background: linear-gradient(to right, #e470da, #ac5edb);
            color: transparent;
            -webkit-background-clip: text;
            opacity: 0;
            font-size: 10.4px;
            &:hover{
                opacity: 1;
                transform: scale(2.5);
                transition-property: transform;
                transition-duration: 1s;
                transition-timing-function: ease-out;
            }
        }
    }
}


.menu-lapal{
    background-color:  map-get($map: $blockcolor, $key: menu);
    height: 1416px;
    margin-top: -28px;    
    position: relative;
    border-radius: 50px 50px  0px 0px;
    h3{
        font-family: "Shrikhand";
        margin-top: 34px;
        padding-top: 0;
        padding-left: 1em;
        font-size: 3em;
    }
    img{
        width: 2.5em;
        height: 2.5em;
        margin-right: 8em;
        margin-top: 3em;
    }
    h4{
        font-weight: normal;
        border-bottom: 3px #99E2D0 solid;
        width: 27px;
        height: 27px;
        font-size: 1.25em;
        margin-left: 40px;
        text-transform: uppercase;
        color: $black;
    }
    @include tablet{
        margin-top: -51px;
        h4{
            height: 33px;
            font-size: 1.5em;
        }
    }
    @include mobile{
        border-radius: 50px 50px  0px 0px;
        display: flex;
        flex-direction: column;
        margin-top: -46px;
        position: relative;
        height: auto;
        h3{
            margin-top: 34px;
            padding-top: 0;
            padding-left: 1em;
            font-size: 1.72em;
        }
        img{
            width: 1.5em;
            height: 1.5em;
            margin-right: 2em;
            margin-top: 2.7em;
        }
        h4{
            font-weight: normal;
            border-bottom: 3px #99E2D0 solid;
            width: 27px;
            height: 27px;
            font-size: 1.25em;
            margin-left: 12px;
            text-transform: uppercase;
            color: $black;
            margin-left: 12px;
        }
    }
}
.menu-lapal__carte{
    background-color:  map-get($map: $blockcolor, $key: block);
    background-color: white;
    margin-bottom: 20px;
    margin-left: 3em;
    margin-right: 4em;
    border-radius: 18px;
    height: 77px;
    box-shadow: 0px 3px 6px grey;
    animation: arise 2s ease-out 0s 1 normal backwards;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    &:hover .check {
        width: 100px;
        transition: all 0.4s ease 0s;
        @include mobile{
            width: 70px;
        }
    }
    &:hover .fa-check-circle{
        opacity: 1;
        animation: turn 2s ease-out 0s 1 normal backwards;
        padding: 21px 27px 21px 32px;
        color: white;
        font-size: 32px;
        @include mobile{
            font-size: 25px;
            padding: 21px 0px 21px 22px;
            animation: turn 700ms ease-out 0s 1 normal backwards;
        }
    }
    @include mobile{
        margin-bottom: 20px;
        margin-left: 1em;
        margin-right: 1em;
        border-radius: 18px;
        height: 65px;
        box-shadow: 0px 3px 6px grey;
        
    }
}
.check{
    width: 0px;
    border-radius: 0px 18px 18px 0px;
    background-color: $Thirdcolor;
    .fa-check-circle{
        padding: 0px;
        color: white;
        font-size: 0px;
        opacity: 0;
    }
}
.delay1{
    animation-duration: 0.3s;
}

.delay2{
    animation-delay: 0.3s;
}

.delay3{
    animation-delay: 0.4s;
}
.menu-lapal__entr{
    animation: arise 1s ease-out 0s 1 normal backwards;

}
.menu-lapal__plat{
    animation: arise 1.8s ease-out 0s 1 normal backwards;

}
.menu-lapal__dess{
    animation: arise 1.9s ease-out 0s 1 normal backwards;

}

.menu-lapal__nourr1{
    font-weight: bold;
    margin-bottom: 0px;
    padding-left: 17px;
    padding-top: 12px;
    font-size: 1.4em;
    overflow: hidden;
    white-space: nowrap;
    span{
        font-weight: normal;
    }
    @include tablet{
        font-size: 1.49em;
    }
    @include mobile{
        font-weight: bold;
        margin-bottom: 0px;
        padding-left: 17px;
        padding-top: 12px;
        font-size: 0.9em;
        text-overflow: ellipsis;
    }
}
.menu-lapal__nourr2{ 
    .price{
        color: $black;
        font-weight: bold;
        padding-top: 40px;
        margin-right: 21px;
        @include mobile{
            padding-top: 32px;
        }
    }
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    @include tablet{
        font-size: 1.4em;
    }
    @include mobile {
        font-size: 78%;
        display: flex;
        justify-content: space-between;

    }
}
.menu-lapal__btn{
    background: linear-gradient(to right bottom, #e470da, #ac5edb);
    text-align: center;
    margin: 45px 511px 50px 511px;
    padding: 19px;
    border-radius: 27px;
    box-shadow: 0px 3px 6px grey;
    a{
        text-decoration: none;
        color:whitesmoke;
        font-size: 1.2em;
    }
    @include tablet{
        padding: 20px;
        margin: 10px 230px 0px 230px;
        a{
            font-size: 1.4rem;
        }
    }
    @include mobile{
        text-align: center;
        margin: 40px 10px 70px 10px;
        width: 144px;
        padding: 11px;
        border-radius: 27px;
        box-shadow: 0px 3px 6px grey;
        align-self: center;
        a{
            text-decoration: none;
            color:whitesmoke;
            font-size: 1rem;
        }
    }
}