
.img-restau{
    figure {
        @include mobile{
            margin: 0;
            width: 100%;
            object-fit: cover;
            height: 240px;
        }
        @include imgaccueil;
    } 
}


.menu-restau__btn{
    @include mobile{
        background-color: #b06ab3;
        text-align: center;
        margin: 10px  10px;
        width: 130px;
        padding: 11px;
        border-radius: 27px;
        a{
            text-decoration: none;
            color:whitesmoke;
        }
    }
}