@charset "UTF-8";
/*$secondgray: ; */
/*$black: ; */
/*maps et list*/
/*font-family: 'Shrikhand', cursive;*/
#page {
  font-family: "Roboto", sans-serif;
  width: 1300px;
  margin: auto;
}
@media (max-width: 480px) and (min-width: 320px) {
  #page {
    width: 100%;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .lieu {
    background-color: #bdb6b6;
    text-align: center;
  }
}

.fa-map-marker-alt {
  margin-right: 2%;
}

.explor__reserv {
  font-weight: bold;
  /*font-size: ;*/
}
@media (max-width: 480px) and (min-width: 320px) {
  .explor__reserv {
    /*font-size: ;*/
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .restau-lapal__img {
    width: 90%;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .restau-lapal__img {
    width: 54%;
    height: 420px;
    overflow: hidden;
  }
}
@media (max-width: 480px) and (min-width: 320px) {
  .restau-lapal__img img {
    width: 100%;
    height: 420px;
    object-fit: cover;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .restau-lanot__img {
    width: 54%;
    height: 420px;
    overflow: hidden;
  }
}
@media (max-width: 480px) and (min-width: 320px) {
  .restau-lanot__img img {
    width: 100%;
    height: 420px;
    object-fit: cover;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .restau-àlafr__img {
    width: 54%;
    height: 420px;
    overflow: hidden;
  }
}
@media (max-width: 480px) and (min-width: 320px) {
  .restau-àlafr__img img {
    width: 100%;
    height: 420px;
    object-fit: cover;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .restau-ledél__img {
    width: 54%;
    height: 420px;
    overflow: hidden;
  }
}
@media (max-width: 480px) and (min-width: 320px) and (max-width: 480px) and (min-width: 320px) {
  .restau-ledél__img img {
    width: 100%;
    height: 420px;
    object-fit: cover;
  }
}

header {
  overflow: hidden;
}
@media (max-width: 480px) and (min-width: 320px) {
  header img {
    font-size: 1em;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .img-àlafr figure {
    margin: 0;
    width: 43%;
  }
}
@media (max-width: 480px) and (min-width: 320px) {
  .img-àlafr figure img {
    width: 100%;
    height: 420px;
    object-fit: cover;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .img-lanot figure {
    margin: 0;
    width: 43%;
  }
}
@media (max-width: 480px) and (min-width: 320px) {
  .img-lanot figure img {
    width: 100%;
    height: 420px;
    object-fit: cover;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .img-lapal figure {
    margin: 0;
    width: 43%;
  }
}
@media (max-width: 480px) and (min-width: 320px) {
  .img-lapal figure img {
    width: 100%;
    height: 420px;
    object-fit: cover;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .img-ledél figure {
    margin: 0;
    width: 43%;
  }
}
@media (max-width: 480px) and (min-width: 320px) {
  .img-ledél figure img {
    width: 100%;
    height: 420px;
    object-fit: cover;
  }
}

/*# sourceMappingURL=style.css.map */
