body
{
    margin: auto;
}
/*font-family: 'Shrikhand', cursive;*/
#page
{
    font-family: 'Roboto', sans-serif;
    width: 1300px;
    margin: auto;
    @include tablet{
        width: 100%;
    }
    @include mobile{
        width: 100%;
    }
}
.loader{
    
}

